html {
  font-family: garamond;
  font-size: 20px;
  background-color: black;
  color: lightgrey;
}

a {
  color: lightgrey;
  margin: 0.5rem;
}

.navbar a{
  display: inline-block;
  margin: 0.5rem;
}

ul {
  list-style-type: none;
}

figure img{
  width: 85%;
}

figcaption{
  font-size: 10px;
}

.content {
  margin: 0.5rem;
}
